$elements: 12;
$initial-radius: 20px;
$increase-radius: 30px;

$colors: (
        1: #ff0000,
        2: #ff5900,
        3: #ff9900,
        4: #e6ff00,
        5: #66ff00,
        6: #00ff95,
        7: #00d9ff,
        8: #0095ff,
        9: #002aff,
        10: #8400ff,
        11: #c800ff,
        12: #ff00ae,
)